* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #1b1b11;
}
.wrapper {
  width: 540px;
  height: 493px;
  position: relative;
  display: flex;
  justify-content: end;
}
.image {
  width: 449px;
  height: 471px;
}
.layer {
  position: absolute;
  z-index: 9;
  opacity: 0;
  animation: fadeInScale 4s infinite;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

#layer1 {
  top: 42px;
  right: 7px;
  animation-delay: 0.5s;
}
#layer2 {
  bottom: 0;
  right: 7px;
  animation-delay: 1s;
}
#layer3 {
  bottom: 37px;
  left: 203px;
  animation-delay: 1.5s;
}
#layer4 {
  left: 33px;
  bottom: 43px;
  animation-delay: 2s;
}
#layer5 {
  top: 225px;
  left: 0;
  animation-delay: 2.5s;
}
#layer6 {
  top: 17px;
  left: 117px;
  animation-delay: 3s;
}
